<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <% if (messages && messages.notice) { %>
            <div class="flash-message">
                <%= messages.notice %>
            </div>
        <% } %>

        <main id="home">
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>