<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <% if (messages && messages.notice && messages.notice.length > 0) { %>
            <div class="flash-message">
                <% messages.notice.forEach(function(msg) { %>
                    <p><%= msg %></p>
                <% }) %>
            </div>
        <% } %>

        <main id="home">
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>